                <th scope="col">Delete</th>
<td><big><big><big><a href="" style="color:inherit;" data-bs-toggle='modal' data-bs-target="#delete{{data.comic_id}}}"><i class="bi bi-trash3-fill"></i></a></big></big></big></td>

<div class="modal fade" id="delete{{data.comic_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Comic?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want to delete the following comic?<br>
          <b>{{data.comic_name.capitalize()}}</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <a href='/delete/{{data.comic_id}}'><button type="button" class="btn btn-primary" >Yes</button></a>
        </div>
      </div>
    </div>
  </div>